@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */

body {
  padding-top: 80px;
  background-color: #BCE6F7;
  background-repeat: no-repeat;
   background-size: cover;

}

section {
  overflow: auto;

}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
/* header */

.navbar{
	background-color: #3C3434;

}
#logo {

 
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #5ECFF5;
  text-decoration: none;
}
h1{
  color: white;
  font-family: Georgia, Cambria, Times, "Times New Roman";
}